.rov {
    color: white;
    margin: auto;
    padding: 10px 10px;
    text-decoration: none;
    list-style: none;
}
.rov2 {
    margin: auto;
    padding: 10px 10px;
    text-decoration: none;
    list-style: none;
}

.rov2 a {
    text-decoration: none;
    list-style: none;
}

.formfield {
  display: flex;
  align-items: center;
}