{% extends "layouts/base5.html" %}

{% load static %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table" title="Citas">
                <tr>
                    <td>
                        <label>Consultorio:</label>
                        <select name="cboConsultorio" id="cboConsultorio"></select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" value="LIBERAR"></td>
                </tr>

            </table>
        </div>
    </div>

</form>
<script src="{% static 'js/consultorios.js' %}"></script>
{% endblock %}
